.content-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > :first-child {
    margin-bottom: 10px;
  }

  > :nth-child(3) {
    margin: 50px 0;
  }
}

.heading {
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.description {
  font-size: 1.25em;
  margin: 0;
  font-style: italic;
  color: lightgray;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.font {
  font-size: 1.25em;
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.button {
  background-color: green;
  font-size: 1.4em;
  padding: 10px;
  width: 100px;
  border: none;

  &:hover {
    background-color: forestgreen;
  }
}